#
# Please avoid changing the Exynos defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

# WLBT platform
CONFIG_SCSC_WLBT_CONFIG_PLATFORM="leman_s620_troika_dualfem"

# Regulator
CONFIG_REGULATOR_S2MPU09_BUCK8_1V35=y

# Camera sensors (CIS)
CONFIG_CAMERA_CIS_12A10_OBJ=y
CONFIG_CAMERA_CIS_12A10FF_OBJ=y
CONFIG_CAMERA_CIS_16885C_OBJ=y

# Camera actuator
CONFIG_CAMERA_ACT_LC898217_OBJ=y

# Camera EEPROM
CONFIG_CAMERA_EEPROM_12A10_OBJ=y
CONFIG_CAMERA_EEPROM_12A10FF_OBJ=y
CONFIG_CAMERA_EEPROM_16885C_OBJ=y
